/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body
{
    background-color: dodgerblue;
    line-height: normal;
}

.card
{
  margin: 0.5rem auto 1.5rem auto;  //top, right, bottom, left
  min-height: 12rem;

  @include box-shadow(#3b3b3b 5px 5px 0px);
}
.card-title
{
  font-size: 1.5rem;
}
