/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
@import "compass/reset/utilities";
@import "compass/css3";

// partial reset
html, body, div, span, applet, object, iframe,
  /*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, /*strike, strong, sub, sup,*/ tt, var,
  /* b, u, i, center,*/
  dl, dt, dd, /*ol, ul, li,*/
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    @include reset-box-model;
    @include reset-font;
  }

body
{
    background-color: dodgerblue;
    line-height: normal;
}

.card
{
  margin: 0.5rem auto 1.5rem auto;  //top, right, bottom, left
  min-height: 12rem;

  @include box-shadow(#3b3b3b 5px 5px 0px);
}
.card-title
{
  font-size: 1.5rem;
}
