@import "compass";

$color1:rgb(87, 100, 255);
$color2:rgb(190, 195, 255);
$color3:rgb(70,80,204);
$color4:rgb(44,50,127);
$color5:rgb(82,85,107);
$top-height: 15rem;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body
{
    padding: 0px;
    border:0px;
    margin:0px;
    background-color:$color2;

    width: 100%;
    height: 100%;
}
// **** TOP SECTION **** //
#banner
{
  z-index: 100;
  position: fixed;
  top:0px;

  height:$top-height;
  width: 100%;

  background-color: $color1;
  @include background-image(linear-gradient($color2, $color1 75%));
  @include box-shadow( 0 2px 4px rgb(50, 50, 50));
}
#logoNameContainer
{
  z-index: 101;
  display: block;
  float: left;
  height:100%;
  width:15%;
}
#logo
{
  z-index: 102;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top:7%;

  width: auto;
  height: 60%;

  cursor:pointer;
}
#titleDiv
{
  z-index:102;;
  width:100%;

  text-align: center;
}
#titleDiv > *
{
  margin:0px;
}
.menuBox
{
  z-index: 101;
  float: left;

  height:100%;
  width:14.166%; // ~ 85/6

  color:black;

  text-align: center;

  cursor:pointer;
}
.menuBox:hover
{
  background-color: lighten($color1, 10%);
  @include background-image(linear-gradient(lighten($color2, 5%), lighten($color1, 5%) 75%));
  text-decoration: none;
}
.menuLabel
{
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5rem;

  height: 1.5rem;
  margin-top: $top-height / 2;
}
.menuQuote
{
  display: none;
  top: 50%;
  height: $top-height / 2;
  width: 100%;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
}

// **** MAIN SECTION **** //
#mainContainer
{
  z-index:0;
  position: absolute;
  top: $top-height;

  width:100%;
  height: auto;
  padding:0;
}
.contentBox
{
  position: static;
  width: 100%;
  height: 50rem;
  padding: 2rem;
  background-color: rgb(193, 84, 215);
}
.color1
{
  background-color: darken($color1, 5%);
}
.color2
{
  background-color: $color2;
}
.color3
{
  background-color: $color3;
}
.color4
{
  background-color: $color4;
}
.color5
{
  background-color: $color5;
}
// **** SCROLL UP BUTTON **** //
#backToTop
{
  z-index: 400;
  position: fixed;
  display: none;

  width: 5rem;
  height: 5rem;

  right: 2rem;
  bottom: 2rem;

  background-color: $color1;
  cursor: pointer;

  text-align: center;
  line-height: 5rem;
  font-size: 4rem;
}

#sizePlaceholder
{
  display: none;
  height:15rem;
  width:5rem;
}
