{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}

{% set activeIndex = 4 %}
{% set title = 'JK - Book Reviews' %}
{% set metaDescription = 'Reviews of {{{{file.frontMatter.title}}' %}

{% block content %}
<div class="row d-flex justify-content-around mx-3 mt-1">
    {% set review %}
        {{contents | safe}}

    {% endset %}
    {{card_(file.frontMatter.title, file.frontMatter.subtitle, review, additionalClass='col-lg-6')}}
</div>
{% endblock %}