{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}
{% set activeIndex = 2 %}
{% set title = 'JK - Rogue' %}
{% set metaDescription = 'The project page of Rogue on Jay Karon\'s portfolio website.' %}

{% block content %}
<div class="d-flex container-fluid justify-content-center">
  {% set rogueContent %}
    <h5>Intro:</h5>
    <p>
      A roguelike I made with <strong>Java</strong> as a final project high-school. For an introduction to roguelikes
      see this <a href="https://www.lifewire.com/what-are-roguelikes-4117411" title="Lifewire: The Beginner's Guide to Roguelikes">Lifewire article</a>
      or watch my introduction video. My game is heavily based off the game <a href="http://www.adom.de/home/index.html" title="ADOM Homepage">ADOM</a>,
      one of my favourite games of all time.
    </p>
    <video src="content/intro.mov" controls style="width:80%;">
      Sorry, your browser doesn't support this embedded video,
      but don't worry, you can <a href="content/intro.mov">download it</a>
      and watch it with your favorite video player!
    </video>
    <br />
    <br />
    <h5>Programming Highlight: Maps</h5>
    <p>
      With over 3000 lines of code, there was a lot of interesting stuff, but my favorite part was
      the procedurally generated maps.
    </p>
    <p>
      There are 3 distinct dungeon layouts, each with a unique generation algorithm. <strong>Cave</strong>  (cellular automaton), <strong>Rooms</strong> (recursive, divide & conquer)
      and <strong>Maze</strong> (recursive). Watch the video below to see how they work.
    </p>
    <video src="content/maps.mov" controls style="width:80%;">
      Sorry, your browser doesn't support this embedded video,
      but don't worry, you can <a href="content/maps.mov">download it</a>
      and watch it with your favorite video player!
    </video>
    <br />
    <br />
    <h5>Play Online:</h5>
    <p class="long">
      You can play the game <a href="jsPort.html">online</a> using CheerpJ a Java compiler for the web. It may take a minute to load.
    </p>
    <h5>Download:</h5>
    <p class="long">
      You can download the <a href="content/rogue.jar">JAR File</a> and if you have Java installed run it
      with this command <code>java -jar rogue.jar</code> (may not work with all versions of Java).
    </p>
    <h5>Tip:</h5>
    <p>
      Roguelikes are known for their notoriously steep learning curves, so the only tip you are getting is that
      <kbd>c</kbd> shows the controls.
    </p>
  {% endset %}

  {{ card_('Rogue', '', rogueContent, additionalClass='col-xl-10') }}
</div>
{% endblock %}
