{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}

{% set activeIndex = 4 %}
{% set title = 'JK - Book Reviews' %}
{% set metaDescription = 'Reviews of books by Jay Karon' %}

{% block content %}
    {% set cardContent %}
        <div class="text-left">Me reviewing books in an attempt to be more well read.</div>
        <br>
        <h5>Reviews:</h5>  
        <ul>
            <li><a href="french.html">The French Revolution: A Very Short Introduction</a></li>
        </ul>
        <h5>Coming up on the Queue:</h5>
        <ul>
            <li>How To, by Randall Munroe</li>
            <li>Pro Git, by Scott Chacon and Ben Straub</li>
        </ul>
    {% endset %}
{{card_("Book Reviews", "", cardContent, additionalClass='col-lg-5 mt-5')}}
{% endblock %}