{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}

{% set activeIndex = 4 %}
{% set title = 'JK - Book Reviews' %}
{% set metaDescription = 'Reviews of books by Jay Karon' %}

{% block content %}
    {% set cardContent %}
        <p class="text-left">
            I wanted to get myself to read more and I figured documenting
            what I read would make me feel more accountable. So without further
            ado: me reviewing books in an attempt to be more well read.
        </p>
        <h5>Reviews:</h5>  
        <ul>
            <li><a href="french.html">The French Revolution: A Very Short Introduction</a></li>
        </ul>
        <h5>Coming up on the Queue:</h5>
        <ul>
            <li>How To, by Randall Munroe</li>
            <li>Pro Git, by Scott Chacon</li>
        </ul>
        <p class="text-left">
            Have any recommendations to add to the queue? </br>
            Send me an email at
            <a href="mailto:jay.karon.website@gmail.com">jay.karon.website@gmail.com</a>!
        </p>
    {% endset %}
{{card_("Book Reviews", "", cardContent, additionalClass='col-lg-5 mt-5')}}
{% endblock %}