{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}
{% set activeIndex = -1 %}
{% set title = 'JK - 404' %}
{% set metaDescription = '404 page of Jay Karon\'s portfolio website.' %}

{% block content %}
<div class="d-flex container-fluid justify-content-center">
  {{card_('Error 404!', 'Page Not Found',
  'Something deep in the chasms of the internet has gone horribly wrong... <hr> <a href="../.." class="btn btn-primary">Take Me Home!</a>',
  additionalClass="mt-5 col-lg")}}
</div>
{% endblock %}
