{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}
{% set activeIndex = 0 %}
{% set title = 'Jay Karon - Home' %}
{% set metaDescription = 'Home page of Jay Karon\'s portfolio website.' %}

{% block content %}

  <div class="jumbotron px-5">
    <div class=container>
      <div class="row justify-content-around">
        <div class="col-md-7">
          <h1 class="display-3">Jay Karon</h1>
          <h2 class="h2 font-weight-bold">Software Developer</h2>
          <p class="lead long">
 
            {# Growing up I always had an interest in computers
            and from an early age knew I wanted a career in the technology sector.
            I am currently completing my BSc in Computer Science at Lassonde School
            of Engineering - York University. #}
          </p>
          <hr class="mb-3">
          <p>This website hosts my projects as well as additional information about me.
            Feel free to look around and contact me if you have any questions!</p>
        </div>
        <div class="col-lg-5" id="logoContainer">
          <img src="imgs/working.jpg"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center mx-1">

      {{ card_('Experience & Education', '', '
        <center id="center">
          <h6 class="card-subtitle mb-2 text-muted">The only source of knowledge is experience.<br />- Albert Einstein</h6>
          <a href="experience/" class="btn btn-primary">Enter</a>
        </center>',
      additionalClass='col-lg-5') }}

      {{ card_('Projects', '', '
        <h6 class="card-subtitle mb-2 text-muted">Jump, and you will find out how to unfold your wings as you fall.<br />- Ray Bradbury</h6>
        <a href="projects/" class="btn btn-primary">Enter</a>',
      additionalClass='col-lg-5') }}

    </div>
    <div class="row justify-content-center mx-1">
      {{ card_('Skills & Interests', '', '
        <center id="center">
          <h6 class="card-subtitle mb-2 text-muted">Everyone has a chance to learn, improve, and build up their skills.<br />- Tom Peters</h6>
          <a href="skills/" class="btn btn-primary">Enter</a>
        </center>',
      additionalClass='col-lg-5') }}

      {{ card_('Contact', '', '
        <center id="center">
          <h6 class="card-subtitle mb-2 text-muted">Good words are worth much and cost little.<br />- George Herbert</h6>
          <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Expand</a>
        </center>',
      additionalClass='col-lg-5') }}

    </div>
  </div>
{% endblock %}
