<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<link href="../../../stylesheetsCommon/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="private.css" media="screen, projection" rel="stylesheet" type="text/css" />
<!-- FontAwesome -->
<script src="https://use.fontawesome.com/b7af902b2d.js"></script>
<link href="https://use.fontawesome.com/b7af902b2d.css" media="all" rel="stylesheet">
