/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*The css for the Experience page*/
/* line 7, private.scss */
.card {
  min-height: 20rem;
  margin: 1rem;
}
/* line 11, private.scss */
.card p {
  line-height: 120%;
}
/* line 15, private.scss */
.card ul {
  line-height: 140%;
}
/* line 19, private.scss */
.card img {
  width: 100%;
  max-width: 250px;
}

/* line 25, private.scss */
#lassondeLogo {
  max-width: 400px;
}

/* line 30, private.scss */
ul ul {
  font-size: 95%;
}
