/* line 2, private.scss */
.img {
  max-width: 100px;
  max-height: 100px;
}

/* line 7, private.scss */
.list-group {
  word-wrap: normal;
}

/* line 10, private.scss */
.card {
  max-width: 40rem;
}
