{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}

{% set activeIndex = 4 %}
{% set title = 'JK - Book Reviews' %}
{% set metaDescription = 'Reviews of {{{{file.frontMatter.title}}' %}

{% block content %}
{% set review %}
<div>
    <img src='imgs/{{file.frontMatter.img}}' id="cover">
    {{contents | safe}}
</div>
{% endset %}
{{card_(file.frontMatter.title, file.frontMatter.subtitle, review, additionalClass='col-lg-6')}}
{% endblock %}