// the scss for the landing page

@import "compass/css3";

.card {
  max-width: 27rem;
}

.jumbotron
{
  border-radius: 0px;   // no rounded corners
  padding-top: 2rem;  // a little shorter than default
  padding-bottom: 2rem;
}

#logoContainer {
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

#jumboBackIcon
{
  font-size: 9rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fa-laptop
{
  @include text-shadow(2px 5px 0px #3b3b3b);
}
