/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, sass/screen.scss */
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, q, s, samp,
tt, var,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 27, sass/screen.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 32, sass/screen.scss */
body {
  background-color: dodgerblue;
  line-height: normal;
  margin-bottom: 80px;
}

/* line 39, sass/screen.scss */
.card {
  margin: 0.5rem auto 1.5rem auto;
  min-height: 12rem;
  -moz-box-shadow: #3b3b3b 5px 5px 0px;
  -webkit-box-shadow: #3b3b3b 5px 5px 0px;
  box-shadow: #3b3b3b 5px 5px 0px;
}

/* line 46, sass/screen.scss */
.card-title {
  font-size: 1.5rem;
}

/* line 51, sass/screen.scss */
p.long {
  line-height: 135%;
}

/* line 55, sass/screen.scss */
footer {
  width: 100%;
  padding: 0.5rem 1rem 0.3rem 1rem;
  background-color: #343a40;
  color: #eaecee;
  position: absolute;
  bottom: 0;
  height: 80px;
  overflow: auto;
}
