/*The css for the Experience page*/
/* line 2, private.scss */
.card {
  min-height: 20rem;
  margin: 1rem;
  max-width: 60rem;
}
/* line 7, private.scss */
.card p {
  line-height: 120%;
}
/* line 11, private.scss */
.card ul {
  line-height: 140%;
}
/* line 15, private.scss */
.card img {
  width: 100%;
  max-width: 250px;
}

/* line 21, private.scss */
  img.widePic {
  max-width: 400px;
}

/* line 24, private.scss */
#netivLogo {
  max-width: 330px;
}

/* line 28, private.scss */
ul ul {
  font-size: 95%;
}
