{% from 'macros/modal.njk' import modal_ %}

{% set content %}
  <p class="lead">
    Thanks for wanting to contact me!
  <p />
  <ul>
    <li>
      <i class="fa fa-envelope-o" aria-hidden="true"></i> Email me at <a href="mailto:jay.karon.website@gmail.com">jay.karon.website@gmail.com</a>
    </li>
    <li>
      <i class="fa fa-linkedin-square" aria-hidden="true"></i> Find me on <a href="https://www.linkedin.com/in/jaykaron/">LinkedIn</a>
    </li>
    <li>
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Grab a copy of my <a href="../../../imgs/jayKaronResume.pdf">resume</a>
    </li>
  </ul>
  Looking forward to hearing from you,
  <br />
  Jay Karon
{% endset %}

{{ modal_("Contact", content, "contactModal") }}
