<footer>
  © Jay Karon 2017.<br />
  <span class="small">
    The use of any trademarks represent only the company or product to which they refer
    and does not indicate endorsement of or affiliation with Jay Karon by the trademark holder.
  </span>
</footer>
