/*The css for the Experience page*/
/* line 2, private.scss */
.card {
  min-height: 20rem;
  margin: 1rem;
}
/* line 6, private.scss */
.card p {
  line-height: 120%;
}
/* line 10, private.scss */
.card ul {
  line-height: 140%;
}
/* line 14, private.scss */
.card img {
  width: 100%;
  max-width: 250px;
}

/* line 20, private.scss */
#lassondeLogo {
  max-width: 400px;
}

/* line 23, private.scss */
#netivLogo {
  max-width: 330px;
}

/* line 27, private.scss */
ul ul {
  font-size: 95%;
}
