{% from 'macros/card.njk' import card_ %}

{% extends "layout.njk" %}
{% set activeIndex = 2 %} 
{% set title = 'JK - Chroma' %}
{% set metaDescription = 'The project page of Chroma on Jay Karon\'s portfolio website.' %}

{% block extraHead %}
  <link rel="stylesheet" type="text/css" href="./stylesheets/canvas.css" />
  <script type="text/javascript" src="/media/paper-full.min.js"> </script>
  <script type="text/paperscript" src="/media/chroma.js" canvas="mainCanvas"></script>
{% endblock %}

{% block content %}
  <canvas id="mainCanvas" width="1000" height="600" tabindex="0"> </canvas>

  <div class="d-flex container-fluid justify-content-center">
    {% set chromaContent %}
      <h5>How To Play:</h5>
      <p>
        To land on a platform you must be the same color as it. Go as far as you can!
      </p>
      <h5>Controls:</h5>
      <p>
        <kbd>f</kbd> / <kbd>d</kbd> : Change Color
      </p>
      <p>
        <kbd>Space</kbd> : Jump
      </p>
      <p>
        <kbd>p</kbd> : Pause/Resume
      </p>
      <h5>Story:</h5>
      <p class="long">
        This game was originally a Java applet made for a final project in high-school by Ari Karon in 2014.
        As 2014 passed and things progressed, Java applets became nearly impossible to run without installing a Java IDE.
        So I decided to remake Chroma with JavaScript. The game uses the <a href="paperjs.org/">PaperJS</a> library for dealing with the canvas.
      </p>
      <h5>Credits:</h5>
      <div id="creditsBox">
        <p>Game design by Ari Karon.</p>
        <p>Music: Choaz Fantasy by <a href="https://soundcloud.com/paragonx9" title="ParagonX9 on soundcloud">ParagonX9</a></p>
        <p>
          Volume icon made by <a href="https://www.flaticon.com/authors/smashicons" >Smash Icons</a> from <a href="https://www.flaticon.com/">www.flaticon.com</a>
        </p>
      </div>
      <div id="images" class="hidden">
        <img id="title" src="/media/title.png" width="376" height="86" />
        <img id="volumeHigh" src="/media/volume3.png" width="50" height="50" />
        <img id="volumeMed" src="/media/volume2.png" width="50" height="50" />
        <img id="volumeLow" src="/media/volume1.png" width="50" height="50" />
        <img id="volumeOff" src="/media/volume0.png" width="50" height="50" />
      </div>
    {% endset %}
    
    {{ card_('Chroma', '', chromaContent, additionalClass='col-xl-10') }}
  </div>
{% endblock %}
